<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport"
          content="width=device-width, initial-scale=1.0">

    <title>Email Spam Detection AI</title>

    <link rel="stylesheet"
          href="{{ url_for('static',filename='style.css') }}">

    <link rel="preconnect"
          href="https://fonts.googleapis.com">

    <link rel="preconnect"
          href="https://fonts.gstatic.com"
          crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">

</head>

<body>

<div class="background"></div>

<header>

    <div class="logo">

        <i class="fa-solid fa-shield-halved"></i>

        <h2>Email Spam Detection</h2>

    </div>

</header>


<section class="hero">

    <div class="glass">

        <h1>

            AI Powered Email Spam Detector

        </h1>

        <p>

            Detect Spam Emails using Deep Learning,
            TensorFlow, NLP and Word2Vec.

        </p>

        <textarea

                id="email"

                placeholder="Paste your email here..."></textarea>

        <div class="buttons">

            <button id="predictBtn">

                <i class="fa-solid fa-wand-magic-sparkles"></i>

                Analyze Email

            </button>

            <button id="clearBtn">

                <i class="fa-solid fa-trash"></i>

                Clear

            </button>

        </div>

        <div class="counter">

            <span id="words">Words : 0</span>

            <span id="chars">Characters : 0</span>

        </div>

    </div>

</section>


<section class="loading hidden" id="loading">

    <div class="loader"></div>

    <h2>

        AI is Analyzing...

    </h2>

</section>


<section class="result hidden" id="result">

    <div class="result-card">

        <div id="icon"></div>

        <h2 id="prediction">

            Spam

        </h2>

        <p id="message">

        </p>

        <div class="progress">

            <div id="progressBar"></div>

        </div>

        <h3>

            Confidence :
            <span id="confidence"></span> %

        </h3>

    </div>

</section>



<section class="features">

    <h2>

        Technologies Used

    </h2>

    <div class="feature-grid">

        <div class="card">

            <i class="fa-solid fa-brain"></i>

            <h3>Deep Learning</h3>

            <p>

                Bidirectional LSTM

            </p>

        </div>

        <div class="card">

            <i class="fa-solid fa-code"></i>

            <h3>TensorFlow</h3>

            <p>

                Keras API

            </p>

        </div>

        <div class="card">

            <i class="fa-solid fa-language"></i>

            <h3>Word2Vec</h3>

            <p>

                Semantic Embedding

            </p>

        </div>

        <div class="card">

            <i class="fa-solid fa-envelope-circle-check"></i>

            <h3>NLP</h3>

            <p>

                Text Processing

            </p>

        </div>

    </div>

</section>



<section class="examples">

    <h2>

        Try Example Emails

    </h2>

    <div class="example-box">

        <button class="example">

Congratulations!

You have won ₹50,000.
Click here to claim your prize now.

        </button>

        <button class="example">

Hello,

Can we schedule our meeting tomorrow at 11 AM?

Regards,
John

        </button>

    </div>

</section>


<footer>

    <h3>

        Developed by Subodh Kumar 

    </h3>

    <p>

        AI | Machine Learning | Deep Learning

    </p>

</footer>


<script src="{{ url_for('static',filename='script.js') }}"></script>

</body>

</html>